components/c37-split/c37.html

<div class="split-ouuter c37">
  <div class="small c37">
    <h2>Operatory<strong>Technology Management</strong></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.</p>
  </div>
  <div class="large c37"><img class="float" src="img/digital-tech-sm.png"/></div>
</div>

components/c37-split/c37.pug
.split-ouuter.c37
  .small.c37
    h2 Operatory
      strong Technology Management
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.
  .large.c37
    img.float(src="img/digital-tech-sm.png")
