components/c40-team/c40.pug
include data-c40.pug


h2 Experienced
  strong Executive Management
.small-border.c36(style="background: #465d6c")

p.c40 Our global network of Integrated Practices is guided by a team of advisors. Each Integrated Clinical Advisor is an active practitioner offering their patients break through Breathing Wellness care in their practice. A Vivos Integrated Clinical Advisor also provides leadership to our global network of Integrated Practices.

.outter.c40
  each item in members
    if item.tag == "executive"
      a.item.c40(href=item.link)
        img.c40(src="img/"+item.img+"" alt=item.name)
        span.name.c40 #{item.name}
        span.role.c40 #{item.role}

h2 The Vivos
  strong Breathing Wellness Institute
.small-border.c36(style="background: #465d6c")
p.c40 Our global network of Integrated Practices is guided by a team of advisors. Each Integrated Clinical Advisor is an active practitioner offering their patients break through Breathing Wellness care in their practice. A Vivos Integrated Clinical Advisor also provides leadership to our global network of Integrated Practices.
.outter.c40
  each item in members
    if item.tag == "wellness"
      a.item.c40(href=item.link)
        img.c40(src="img/"+item.img+"" alt=item.name)
        span.name.c40 #{item.name}
        span.role.c40 #{item.role}


h2 Network Effectiveness
  strong Vivos Integrated Clinical Advisors
.small-border.c36(style="background: #465d6c")
p.c40 Our global network of Integrated Practices is guided by a team of advisors. Each Integrated Clinical Advisor is an active practitioner offering their patients break through Breathing Wellness care in their practice. A Vivos Integrated Clinical Advisor also provides leadership to our global network of Integrated Practices.

.outter.c40
  each item in members
    if item.tag == "clinical"
      a.item.c40(href=item.link)
        img.c40(src="img/"+item.img+"" alt=item.name)
        span.name.c40 #{item.name}
        span.role.c40 #{item.role}


h2 Network Effectiveness
  strong Vivos Integrated Market Advisors
.small-border.c36(style="background: #465d6c")
p.c40 Our global network of Integrated Practices is guided by a team of advisors. Each Integrated Clinical Advisor is an active practitioner offering their patients break through Breathing Wellness care in their practice. A Vivos Integrated Clinical Advisor also provides leadership to our global network of Integrated Practices.
.outter.c40
  each item in members
    if item.tag == "market"
      a.item.c40(href=item.link)
        img.c40(src="img/"+item.img+"" alt=item.name)
        span.name.c40 #{item.name}
        span.role.c40 #{item.role}

components/c40-team/c40.html

<div class="outter c40"><a class="item c40" href="#"><img class="c40" src="img/kirk-hunstman-1.jpg" alt=""/><span class="name c40">R. Kirk Huntsman</span><span class="role c40">Chief Executive Officer</span></a></div>
