pages/breathing-wellness.pug
- var PageTitle = "Breathing Wellness"
- var template = "content"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    
    // Content Header
    include ../components/c8-hero-slider/c8.pug
    
    main
      .container
        h2 What is
          strong Breathing Wellness
        
        
        // Two Column 
        .two-outter.c5
          .column.c5
            img(src="img/dental meeting.jpg")
            
          .column.c5
            h4 Sleep Apnea
            p Around the world healthcare providers are beginning to pay careful attention to the overall health benefits of healthy breathing. Compromised breathing has been connected to a number of health conditions which can be serious and even life-threatening.
            p Sleep apnea is a potentially serious sleep disorder. People who suffer from this condition stop breathing during sleep.
            
            
            h5 The main types of sleep apnea:
            ul
              li Obstructive Sleep Apnea
              li Central Sleep Apnea
              li Complex Sleep Apnea
            
        
        .spacer.c23.s30
        // Six Coulmn 
        h4(style="text-align: center") Treating your sleep apnea will impact your overall health and vitality.
        .outter.c28
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
        .spacer.c23.s20
        p.mini(style="text-align: center;") Millions of people who suffer from sleep apnea remain undiagnosed. If you suspect you or someone you love is suffering from sleep apnea, you should consult a physician or a specially-trained dentist.

    .divider.c24
    section(style="background: #e5e5e5")
      .container
        h2(style="text-align: center;") Individuals who suffer from mild-to-moderate sleep apnea and sleep disordered breathing often underestimate its overall impact to their overall health.
        // 3 Column
        .three-outter.c6
          .column.c6
            .circle.c33
              img.c33(src="img/brain.png")
            h3(style="text-align: center") A Healthy Brain
            .line.c34(style="background: white")
            ul(style="")
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
            .line.c34(style="background: #ccc")
          .column.c6
            .circle.c33
              img.c33(src="img/brain.png")
            h3(style="text-align: center") A Healthy Brain
            .line.c34(style="background: white")
            ul
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
            .line.c34(style="background: #ccc")
          .column.c6
            .circle.c33
              img.c33(src="img/brain.png")
            h3(style="text-align: center") A Healthy Brain
            .line.c34(style="background: white")
            ul
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
            .line.c34(style="background: #ccc")
        p.mini(style="text-align: center;") Millions of people who suffer from sleep apnea remain undiagnosed. If you suspect you or someone you love is suffering from sleep apnea, you should consult a physician or a specially-trained dentist.
    .divider.c24
    section
      .container
        .spacer.c23.s30
        // 2 Column
        .two-outter.c5
          .column.c5
            // Large Transform
            .large-transform.c35(style="background: #465d6c")
              h1.c35 Normal breathing is silent breathing through your nose. It is quiet and effortless. It allows our bodies to go into normal deep, restorative sleep, and to awake refreshed and ready to take on each new day. Snoring and sleep apnea are not normal breathing patterns, and they are not healthy.
              
          .column.c5
            h4 A Complex Problem
            p Millions suffer from a variety of adverse health conditions which may be the result of interrupted sleep patterns. While lying down, someone with maxillary hypoplasia and mandibular retrusion or an underdeveloped jaw is unable to achieve and sustain good, effective breathing.
            p Correcting the underlying condition may result in better breathing, more restful sleep, and a renewal of healthy vibrant living.
            p Sleep apnea and sleep disordered breathing are a complex problem.
            
            h5 There are a number anatomical factors that may contribute to the condition:
            ul 
              li Maxillary Hypoplasia
              li Mandibular Retrusion or Retrognathia
              li Malalignment of the Atlas-axis Vertebrae
              li Tonsillar Hypertrophy
              li Macroglossia
              li Enlargement/elongation of the soft palate
            h5 There are a number other factors that may contribute to the condition:
            ul 
              li Obesity
              li Neck Circumference
              li Narrow or Obstructed Airway
              li Alcohol Abuse
              li Drug Abuse
              li Sleep Aids or Sedatives
              li Nasal Obstruction or Congestion
    .divider.c24
    section(style="background: white")
      .container
        .spacer.c23.s40
        h2(style="text-align: center;") Symptoms of Mild-to-Moderate Sleep Apnea & Sleep Disordered Breathing
        // 4 Column
        .four-outter.c7
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
    .divider.c24
    section
      .container
        h3(style="text-align: center") Our Commitment & Contribution to the Breathing Wellness Movement
        p(style="text-align: center") Our company is focused on three pillars of excellence in the breathing wellness movement. We are proud to be contributing alongside the pioneering healthcare providers who are implementing a thoughtful multidisciplinary approach an innovative protocols.
        .spacer.c23.s20
        .cards-outter.c14
          .card.c14(style="border-color: #acc37e;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
    section(style="background: #7eb6c3")
      .container
        h5(style="text-align: center; color: white;") The Breathing Wellness movement is part of a worldwide initiative in healthcare to raise awareness about the serious nature of conditions such as mild-to-moderate sleep apnea and sleep disordered breathing.
        .spacer.c23.s20
        .outter.c31
          p.mini.c31(style="text-align: left; color: white;") Sleep apnea, even mild cases have been shown to contribute to other serious and potentially life threatening conditions. Heightened awareness and understanding in the medical community about the potential risks of sleep disordered breathing and related conditions has inspired the worldwide breathing wellness movement.
          
          p.mini.c31(style="text-align: left; color: white;") The breathing wellness movement aims to raise awareness about the importance and potential impact of solving the challenges of healthy breathing.
    
    
    
    
    
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug

breathing-wellness.html
<!DOCTYPE html>
<html>
  <!-- Head-->
  <head>
    <!-- Page title-->
    <title>Breathing Wellness</title>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" user-scalable="no">
    <link rel="icon" href="img/favicon.ico">
    <!-- Stylesheets-->
    <!-- Referenced Styles-->
    <link rel="stylesheet" href="components/c8-hero-slider/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--script(src="js/barba.min.js")-->
  </head>
  <body id="top">
    <nav class="c1">
      <div class="container c1">
        <ul class="c1">
          <li class="c1" id="logo"><a class="c1 logo" href="index.html"><img class="c1" src="img/logo.svg" alt="Vivos | Breathing Wellness Centers"></a></li>
          <div class="menu c1" id="menuIcon"><i class="fas fa-bars"></i></div>
          <div class="nav-links c1" id="navMobile">
            <li class="c1"><a class="nav-link c1" href="breathing-wellness.html">Breathing Wellness</a></li>
            <li class="c1"><a class="nav-link c1" href="healthcare-proffessionals.html">Healthcare Professionals</a></li>
            <li class="c1"><a class="nav-link c1" href="our-approach.html">Our Approach</a></li>
            <li class="c1"><a class="nav-link c1" href="the-science.html">The Science</a></li>
            <li class="c1"><a class="nav-link c1" href="company-template.html">Our Company</a></li>
            <li class="c1"><a class="nav-link c1" href="find-doctor.html">Find A Doctor</a></li>
          </div>
          <div class="nav-modal c1"><img class="modal-trigger c13" src="img/menu_icon.png" alt="Menu Icon">
            <div class="modal-outter c13">
              <div class="modal container c13">
                <nav class="sub-links c27">
                  <ul class="c27">
                    <h2 class="c27">Healthcare <span class="c27">Professionals</span></h2>
                    <li class="c27"><a class="link c27" href="general-dentist.html">General Dentist</a></li>
                    <li class="c27"><a class="link c27" href="specialty-dentist.html">Specialty Dentist</a></li>
                    <li class="c27"><a class="link c27" href="medical-doctor.html">Medical Doctor</a></li>
                    <li class="c27"><a class="link c27" href="specialty-chiropractor.html">Specialty Chiropractor</a></li>
                    <li class="c27"><a class="link c27" href="hospitals.html">Hospitals</a></li>
                    <li class="c27"><a class="link c27" href="wellness-clinics.html">Wellness Clinics</a></li>
                    <li class="c27"><a class="link c27" href="integrated-practice-program.html">Integrated Practice Program</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Doctors And Their<span class="c27">Patients</span></h2>
                    <li class="c27"><a class="link c27" href="breathing-wellness.html">Breathing Wellness</a></li>
                    <li class="c27"><a class="link c27" href="a-healthy-lifestyle.html">A Healthy Lifestyle</a></li>
                    <li class="c27"><a class="link c27" href="early-warning-signs.html">Early Warning Signs</a></li>
                    <li class="c27"><a class="link c27" href="new-hope.html">New Hope</a></li>
                    <li class="c27"><a class="link c27" href="find-a-doctor.html">Find A Doctor</a></li>
                    <li class="c27"><a class="link c27" href="resources.html">Resources</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Wellness<span class="c27">Advocates</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-wellness.html">Corporate Wellness</a></li>
                    <li class="c27"><a class="link c27" href="employee-screening.html">Employee Screening</a></li>
                    <li class="c27"><a class="link c27" href="benefits.html">Benefits</a></li>
                    <li class="c27"><a class="link c27" href="outcomes.html">Outcomes</a></li>
                    <li class="c27"><a class="link c27" href="corporate-events.html">Corporate Events</a></li>
                    <li class="c27"><a class="link c27" href="associations.html">Associations</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">About Our<span class="c27">Company</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-information.html">Corporate Information</a></li>
                    <li class="c27"><a class="link c27" href="leadership.html">Leadership</a></li>
                    <li class="c27"><a class="link c27" href="investor-relations.html">Investor Relations</a></li>
                    <li class="c27"><a class="link c27" href="ethics-and-corporate-governance.html">Ethics &amp; Corporate Governance</a></li>
                    <li class="c27"><a class="link c27" href="media-inqueries.html">Media Inqueries</a></li>
                    <li class="c27"><a class="link c27" href="partners.html">Partners</a></li>
                    <li class="c27"><a class="link c27" href="culture-and-values.html">Culture &amp; Values</a></li>
                    <li class="c27"><a class="link c27" href="global-network.html">Global-network</a></li>
                    <li class="c27"><a class="link c27" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                  </ul>
                </nav><img class="g-bottom c27" src="img/nav-angles.png">
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>
    <div class="fixed-top c43">
      <div class="container"><img src="img/page-head-left.png"></div>
    </div>
    <!-- Content Header-->
    <section class="c8 hero-slider">
      <div class="swiper-container c8">
        <div class="swiper-wrapper c8">
          <!-- Slide 1-->
          <div class="swiper-slide c8" style="background-image: url('img/yoga.jpg'); background-position: top">
            <div class="overlay c8" style="background: rgba(1,52,86,0.6)">
              <div class="container c8">
                <div class="slide-outter c8">
                  <div class="slide-inner c8">
                    <!--.v-iconimg(src="img/vivos-small-logo.png")
                    -->
                    <h1 class="c8">Introducing the<strong>Breathing Wellness Movement</strong></h1>
                    <div class="small-border c36" style="background: #e4be45"></div>
                    <p class="c8">Solving the breathing wellness problem on a global scale could result in significant cost savings across the entire healthcare spectrum. It has the potential to reduce the effects of common chronic health concerns and change the lives of millions of people of all ages who suffer from compromised breathing.</p>
                    <p class="c8">The Breathing Wellness movement is a concentrated global initiative led by an integrated group of multidisciplinary healthcare providers.</p>
                    <p class="c8">The movement seeks to raise awareness about the importance of treating specific health conditions which impair normal breathing especially during sleep.</p>
                    <!--span.c8 It's not what we do - it's who we are.-->
                  </div>
                  <div class="slide-img c8">
                    <!--img(src="img/singh-cortes.png")-->
                  </div>
                </div>
                <div class="angle c8"><img src="img/white-angles.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <main>
      <div class="container">
        <h2>What is<strong>Breathing Wellness</strong></h2>
        <!-- Two Column -->
        <div class="two-outter c5">
          <div class="column c5"><img src="img/dental meeting.jpg"></div>
          <div class="column c5">
            <h4>Sleep Apnea</h4>
            <p>Around the world healthcare providers are beginning to pay careful attention to the overall health benefits of healthy breathing. Compromised breathing has been connected to a number of health conditions which can be serious and even life-threatening.</p>
            <p>Sleep apnea is a potentially serious sleep disorder. People who suffer from this condition stop breathing during sleep.</p>
            <h5>The main types of sleep apnea:</h5>
            <ul>
              <li>Obstructive Sleep Apnea</li>
              <li>Central Sleep Apnea</li>
              <li>Complex Sleep Apnea</li>
            </ul>
          </div>
        </div>
        <div class="spacer c23 s30"></div>
        <!-- Six Coulmn -->
        <h4 style="text-align: center">Treating your sleep apnea will impact your overall health and vitality.</h4>
        <div class="outter c28">
          <div class="column c28"><img src="img/myo-profile.jpg" style="margin: 0 auto; display: block">
            <h5 class="c30">Text Goes Here</h5>
          </div>
          <div class="column c28"><img src="img/myo-profile.jpg" style="margin: 0 auto; display: block">
            <h5 class="c30">Text Goes Here</h5>
          </div>
          <div class="column c28"><img src="img/myo-profile.jpg" style="margin: 0 auto; display: block">
            <h5 class="c30">Text Goes Here</h5>
          </div>
          <div class="column c28"><img src="img/myo-profile.jpg" style="margin: 0 auto; display: block">
            <h5 class="c30">Text Goes Here</h5>
          </div>
          <div class="column c28"><img src="img/myo-profile.jpg" style="margin: 0 auto; display: block">
            <h5 class="c30">Text Goes Here</h5>
          </div>
          <div class="column c28"><img src="img/myo-profile.jpg" style="margin: 0 auto; display: block">
            <h5 class="c30">Text Goes Here</h5>
          </div>
        </div>
        <div class="spacer c23 s20"></div>
        <p class="mini" style="text-align: center;">Millions of people who suffer from sleep apnea remain undiagnosed. If you suspect you or someone you love is suffering from sleep apnea, you should consult a physician or a specially-trained dentist.</p>
      </div>
    </main>
    <div class="divider c24"></div>
    <section style="background: #e5e5e5">
      <div class="container">
        <h2 style="text-align: center;">Individuals who suffer from mild-to-moderate sleep apnea and sleep disordered breathing often underestimate its overall impact to their overall health.</h2>
        <!-- 3 Column-->
        <div class="three-outter c6">
          <div class="column c6">
            <div class="circle c33"><img class="c33" src="img/brain.png"></div>
            <h3 style="text-align: center">A Healthy Brain</h3>
            <div class="line c34" style="background: white"></div>
            <ul>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
            </ul>
            <div class="line c34" style="background: #ccc"></div>
          </div>
          <div class="column c6">
            <div class="circle c33"><img class="c33" src="img/brain.png"></div>
            <h3 style="text-align: center">A Healthy Brain</h3>
            <div class="line c34" style="background: white"></div>
            <ul>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
            </ul>
            <div class="line c34" style="background: #ccc"></div>
          </div>
          <div class="column c6">
            <div class="circle c33"><img class="c33" src="img/brain.png"></div>
            <h3 style="text-align: center">A Healthy Brain</h3>
            <div class="line c34" style="background: white"></div>
            <ul>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
              <li>Attention Deficit Disorder</li>
            </ul>
            <div class="line c34" style="background: #ccc"></div>
          </div>
        </div>
        <p class="mini" style="text-align: center;">Millions of people who suffer from sleep apnea remain undiagnosed. If you suspect you or someone you love is suffering from sleep apnea, you should consult a physician or a specially-trained dentist.</p>
      </div>
    </section>
    <div class="divider c24"></div>
    <section>
      <div class="container">
        <div class="spacer c23 s30"></div>
        <!-- 2 Column-->
        <div class="two-outter c5">
          <div class="column c5">
            <!-- Large Transform-->
            <div class="large-transform c35" style="background: #465d6c">
              <h1 class="c35">Normal breathing is silent breathing through your nose. It is quiet and effortless. It allows our bodies to go into normal deep, restorative sleep, and to awake refreshed and ready to take on each new day. Snoring and sleep apnea are not normal breathing patterns, and they are not healthy.</h1>
            </div>
          </div>
          <div class="column c5">
            <h4>A Complex Problem</h4>
            <p>Millions suffer from a variety of adverse health conditions which may be the result of interrupted sleep patterns. While lying down, someone with maxillary hypoplasia and mandibular retrusion or an underdeveloped jaw is unable to achieve and sustain good, effective breathing.</p>
            <p>Correcting the underlying condition may result in better breathing, more restful sleep, and a renewal of healthy vibrant living.</p>
            <p>Sleep apnea and sleep disordered breathing are a complex problem.</p>
            <h5>There are a number anatomical factors that may contribute to the condition:</h5>
            <ul> 
              <li>Maxillary Hypoplasia</li>
              <li>Mandibular Retrusion or Retrognathia</li>
              <li>Malalignment of the Atlas-axis Vertebrae</li>
              <li>Tonsillar Hypertrophy</li>
              <li>Macroglossia</li>
              <li>Enlargement/elongation of the soft palate</li>
            </ul>
            <h5>There are a number other factors that may contribute to the condition:</h5>
            <ul> 
              <li>Obesity</li>
              <li>Neck Circumference</li>
              <li>Narrow or Obstructed Airway</li>
              <li>Alcohol Abuse</li>
              <li>Drug Abuse</li>
              <li>Sleep Aids or Sedatives</li>
              <li>Nasal Obstruction or Congestion</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="divider c24"></div>
    <section style="background: white">
      <div class="container">
        <div class="spacer c23 s40"></div>
        <h2 style="text-align: center;">Symptoms of Mild-to-Moderate Sleep Apnea & Sleep Disordered Breathing</h2>
        <!-- 4 Column-->
        <div class="four-outter c7">
          <div class="column c7"><img src="img/snoring.jpg" style="margin: 0 auto; text-align: center">
            <h5 style="text-align: center">Chronic Snoring</h5>
          </div>
          <div class="column c7"><img src="img/snoring.jpg" style="margin: 0 auto; text-align: center">
            <h5 style="text-align: center">Chronic Snoring</h5>
          </div>
          <div class="column c7"><img src="img/snoring.jpg" style="margin: 0 auto; text-align: center">
            <h5 style="text-align: center">Chronic Snoring</h5>
          </div>
          <div class="column c7"><img src="img/snoring.jpg" style="margin: 0 auto; text-align: center">
            <h5 style="text-align: center">Chronic Snoring</h5>
          </div>
          <div class="column c7"><img src="img/snoring.jpg" style="margin: 0 auto; text-align: center">
            <h5 style="text-align: center">Chronic Snoring</h5>
          </div>
          <div class="column c7"><img src="img/snoring.jpg" style="margin: 0 auto; text-align: center">
            <h5 style="text-align: center">Chronic Snoring</h5>
          </div>
          <div class="column c7"><img src="img/snoring.jpg" style="margin: 0 auto; text-align: center">
            <h5 style="text-align: center">Chronic Snoring</h5>
          </div>
          <div class="column c7"><img src="img/snoring.jpg" style="margin: 0 auto; text-align: center">
            <h5 style="text-align: center">Chronic Snoring</h5>
          </div>
        </div>
      </div>
    </section>
    <div class="divider c24"></div>
    <section>
      <div class="container">
        <h3 style="text-align: center">Our Commitment & Contribution to the Breathing Wellness Movement</h3>
        <p style="text-align: center">Our company is focused on three pillars of excellence in the breathing wellness movement. We are proud to be contributing alongside the pioneering healthcare providers who are implementing a thoughtful multidisciplinary approach an innovative protocols.</p>
        <div class="spacer c23 s20"></div>
        <div class="cards-outter c14">
          <div class="card c14" style="border-color: #acc37e;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
          <div class="card c14" style="border-color: #90aaa2;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
          <div class="card c14" style="border-color: #e4be45;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
        </div>
      </div>
    </section>
    <section style="background: #7eb6c3">
      <div class="container">
        <h5 style="text-align: center; color: white;">The Breathing Wellness movement is part of a worldwide initiative in healthcare to raise awareness about the serious nature of conditions such as mild-to-moderate sleep apnea and sleep disordered breathing.</h5>
        <div class="spacer c23 s20"></div>
        <div class="outter c31">
          <p class="mini c31" style="text-align: left; color: white;">Sleep apnea, even mild cases have been shown to contribute to other serious and potentially life threatening conditions. Heightened awareness and understanding in the medical community about the potential risks of sleep disordered breathing and related conditions has inspired the worldwide breathing wellness movement.</p>
          <p class="mini c31" style="text-align: left; color: white;">The breathing wellness movement aims to raise awareness about the importance and potential impact of solving the challenges of healthy breathing.</p>
        </div>
      </div>
    </section>
    <div class="call-to-action c2">
      <div class="container">
        <p class="desktop c2">If you suspect that you or someone you love is suffering from a breathing wellness condition, take this self-assessment:</p>
        <p class="mobile c2">Breathing Wellness Assessment</p><a class="btn green" href="#">Begin</a>
      </div>
    </div>
    <footer class="c2">
      <div class="container footer c2">
        <div class="footer-link-group c2">
          <ul class="c2">
            <h3 class="c2">Healthcare<strong>Professionals</strong></h3>
            <li class="c2"><a class="c2 footer-link" href="#">General Dentist</a></li>
            <li class="c2"><a class="c2 footer-link" href="#">Integrated Practice Program</a></li>
            <li class="c2"><a class="c2 footer-link" href="#" target="_blank">Provider Login</a></li>
          </ul>
          <ul class="c2">
            <h3 class="c2">About Our<strong>Company</strong></h3>
            <div class="outter c2">
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="corporate-information.html">Corporate Information</a></li>
                <li class="c2"><a class="c2 footer-link" href="leadership.html">Leadership</a></li>
                <li class="c2"><a class="c2 footer-link" href="investor-relations.html">Investor Relations</a></li>
                <li class="c2"><a class="c2 footer-link" href="ethics-and-governance.html">Ethics & Corporate Governance</a></li>
                <li class="c2"><a class="c2 footer-link" href="corporate-citizenship.html">Corporate Citizenship</a></li>
                <li class="c2"><a class="c2 footer-link" href="media-inquiries.html">Media Inquiries</a></li>
                <li class="c2"><a class="c2 footer-link" href="wellness-programs.html">Corporate Wellness</a></li>
              </div>
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="partners.html">Partners</a></li>
                <li class="c2"><a class="c2 footer-link" href="culture-and-values.html">Culture & Values</a></li>
                <li class="c2"><a class="c2 footer-link" href="global-network.html">Global Network</a></li>
                <li class="c2"><a class="c2 footer-link" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                <li class="c2"><a class="c2 footer-link" href="articles.html">Articles & Publications</a></li>
                <li class="c2"><a class="c2 footer-link" href="contact-us.html">Contact Us</a></li>
              </div>
            </div>
          </ul>
        </div><a class="home c2" href="index.html"><img src="img/vivos-logo-footer.png"></a>
      </div>
      <div class="container">
        <div class="copyright c2"><span class="cr c2">© 2019 Vivos Therapeutics, Inc.  ALL RIGHTS RESERVED</span>
          <ul class="social-links">
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="sl"><a class="contact c2" href="#">Contact Us<span>866-908-4867</span></a></li>
          </ul>
        </div>
        <div class="privacy-policy">All content found on the vivoslife.com website, including text, images, audio, or other formats were created for informational purposes only. The content of this website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on this website. Individual results may vary. Nothing contained in this website infers or creates a warranty, promise, or guarantee of any kind with respect to the clinical outcome or result from treatment using the Vivos technology. The use of the Vivos technologies by any patient must always occur under the direction and supervision of a qualified, trained, and licensed dentist, physician or other qualified health provider, working in close collaboration with qualified medical personnel.</div>
      </div>
    </footer>
    <!-- scripts-->
    <!-- JS Files-->
    <script src="js/swiper.min.js"></script>
    <script src="js/main.js"></script>
    <script src="components/c13-modal/c13.js"></script>
    <!--script(src="components/c1-nav/c1.js")-->
  </body>
</html>
