pages/global-network.pug
- var PageTitle = "Global Network"
- var template = "company"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Company Header
    header.c38
      .container.c38
        .inner.c38
          h2 Vivos Therapeutics
            strong Global Integrated Network
          .small-border.c36(style="background: #465d6c")
          .spacer.c23.s10
          p Solving the complex health concerns of people who suffer from mild-to-moderate sleep apnea and sleep disordered breathing requires a multidisciplinary approach. At Vivos we work to cultivate meaningful relationships across the healthcare spectrum by developing integrated practices who have the clinical skills to deliver the best standard of care possible.
           
          h4 Corporate 
          
          p At Vivos, we recognize and celebrate inclusive collaboration. The Vivos Integrated Network is a novel approach to expanding the efficiency of each individual practice through a tight knit community of colleagues. The integrated network seeks to establish a new standard of care through an interdependent network of healthcare providers.
          
        include ../components/c39-secondary-nav/c39.pug
          
        
      
    .divider.c24
    section.company
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
    script(src=" components/c32-content-slider/c32.js")

global-network.html
<!DOCTYPE html>
<html>
  <!-- Head-->
  <head>
    <!-- Page title-->
    <title>Global Network</title>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" user-scalable="no">
    <link rel="icon" href="img/favicon.ico">
    <!-- Stylesheets-->
    <!-- Referenced Styles-->
    <link rel="stylesheet" href="components/c8-hero-slider/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--script(src="js/barba.min.js")-->
  </head>
  <body id="top">
    <nav class="c1">
      <div class="container c1">
        <ul class="c1">
          <li class="c1" id="logo"><a class="c1 logo" href="index.html"><img class="c1" src="img/logo.svg" alt="Vivos | Breathing Wellness Centers"></a></li>
          <div class="menu c1" id="menuIcon"><i class="fas fa-bars"></i></div>
          <div class="nav-links c1" id="navMobile">
            <li class="c1"><a class="nav-link c1" href="breathing-wellness.html">Breathing Wellness</a></li>
            <li class="c1"><a class="nav-link c1" href="healthcare-proffessionals.html">Healthcare Professionals</a></li>
            <li class="c1"><a class="nav-link c1" href="our-approach.html">Our Approach</a></li>
            <li class="c1"><a class="nav-link c1" href="the-science.html">The Science</a></li>
            <li class="c1"><a class="nav-link c1" href="company-template.html">Our Company</a></li>
            <li class="c1"><a class="nav-link c1" href="find-doctor.html">Find A Doctor</a></li>
          </div>
          <div class="nav-modal c1"><img class="modal-trigger c13" src="img/menu_icon.png" alt="Menu Icon">
            <div class="modal-outter c13">
              <div class="modal container c13">
                <nav class="sub-links c27">
                  <ul class="c27">
                    <h2 class="c27">Healthcare <span class="c27">Professionals</span></h2>
                    <li class="c27"><a class="link c27" href="general-dentist.html">General Dentist</a></li>
                    <li class="c27"><a class="link c27" href="specialty-dentist.html">Specialty Dentist</a></li>
                    <li class="c27"><a class="link c27" href="medical-doctor.html">Medical Doctor</a></li>
                    <li class="c27"><a class="link c27" href="specialty-chiropractor.html">Specialty Chiropractor</a></li>
                    <li class="c27"><a class="link c27" href="hospitals.html">Hospitals</a></li>
                    <li class="c27"><a class="link c27" href="wellness-clinics.html">Wellness Clinics</a></li>
                    <li class="c27"><a class="link c27" href="integrated-practice-program.html">Integrated Practice Program</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Doctors And Their<span class="c27">Patients</span></h2>
                    <li class="c27"><a class="link c27" href="breathing-wellness.html">Breathing Wellness</a></li>
                    <li class="c27"><a class="link c27" href="a-healthy-lifestyle.html">A Healthy Lifestyle</a></li>
                    <li class="c27"><a class="link c27" href="early-warning-signs.html">Early Warning Signs</a></li>
                    <li class="c27"><a class="link c27" href="new-hope.html">New Hope</a></li>
                    <li class="c27"><a class="link c27" href="find-a-doctor.html">Find A Doctor</a></li>
                    <li class="c27"><a class="link c27" href="resources.html">Resources</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Wellness<span class="c27">Advocates</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-wellness.html">Corporate Wellness</a></li>
                    <li class="c27"><a class="link c27" href="employee-screening.html">Employee Screening</a></li>
                    <li class="c27"><a class="link c27" href="benefits.html">Benefits</a></li>
                    <li class="c27"><a class="link c27" href="outcomes.html">Outcomes</a></li>
                    <li class="c27"><a class="link c27" href="corporate-events.html">Corporate Events</a></li>
                    <li class="c27"><a class="link c27" href="associations.html">Associations</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">About Our<span class="c27">Company</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-information.html">Corporate Information</a></li>
                    <li class="c27"><a class="link c27" href="leadership.html">Leadership</a></li>
                    <li class="c27"><a class="link c27" href="investor-relations.html">Investor Relations</a></li>
                    <li class="c27"><a class="link c27" href="ethics-and-corporate-governance.html">Ethics &amp; Corporate Governance</a></li>
                    <li class="c27"><a class="link c27" href="media-inqueries.html">Media Inqueries</a></li>
                    <li class="c27"><a class="link c27" href="partners.html">Partners</a></li>
                    <li class="c27"><a class="link c27" href="culture-and-values.html">Culture &amp; Values</a></li>
                    <li class="c27"><a class="link c27" href="global-network.html">Global-network</a></li>
                    <li class="c27"><a class="link c27" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                  </ul>
                </nav><img class="g-bottom c27" src="img/nav-angles.png">
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>
    <div class="fixed-top c43">
      <div class="container"><img src="img/page-head-left.png"></div>
    </div>
    <!-- Company Header-->
    <header class="c38">
      <div class="container c38">
        <div class="inner c38">
          <h2>Vivos Therapeutics<strong>Global Integrated Network</strong></h2>
          <div class="small-border c36" style="background: #465d6c"></div>
          <div class="spacer c23 s10"></div>
          <p>Solving the complex health concerns of people who suffer from mild-to-moderate sleep apnea and sleep disordered breathing requires a multidisciplinary approach. At Vivos we work to cultivate meaningful relationships across the healthcare spectrum by developing integrated practices who have the clinical skills to deliver the best standard of care possible.</p>
          <h4>Corporate </h4>
          <p>At Vivos, we recognize and celebrate inclusive collaboration. The Vivos Integrated Network is a novel approach to expanding the efficiency of each individual practice through a tight knit community of colleagues. The integrated network seeks to establish a new standard of care through an interdependent network of healthcare providers.</p>
        </div>
        <div class="nav-outter c39">
          <nav class="c39">
            <div class="heading c39">
              <h4 class="c39">Explore</h4>
            </div>
            <div class="links c39">
              <ul class="c39">
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
                <li class="c39"><a class="c39" href="#">Corporate Information</a></li>
              </ul>
            </div>
          </nav>
          <h2 class="c47">Vivos<strong>Investor Relations</strong></h2>
          <div class="large-quote c47" style="background: #936237"><img class="v c47" src="img/vivos-small-logo.png">
            <h6 class="c47">Ethics is knowing the difference between what you have a right to do and what is right to do.</h6><span class="c47">Potter Stewart</span>
          </div>
        </div>
      </div>
    </header>
    <div class="divider c24"></div>
    <section class="company"></section>
    <div class="call-to-action c2">
      <div class="container">
        <p class="desktop c2">If you suspect that you or someone you love is suffering from a breathing wellness condition, take this self-assessment:</p>
        <p class="mobile c2">Breathing Wellness Assessment</p><a class="btn green" href="#">Begin</a>
      </div>
    </div>
    <footer class="c2">
      <div class="container footer c2">
        <div class="footer-link-group c2">
          <ul class="c2">
            <h3 class="c2">Healthcare<strong>Professionals</strong></h3>
            <li class="c2"><a class="c2 footer-link" href="#">General Dentist</a></li>
            <li class="c2"><a class="c2 footer-link" href="#">Integrated Practice Program</a></li>
            <li class="c2"><a class="c2 footer-link" href="#" target="_blank">Provider Login</a></li>
          </ul>
          <ul class="c2">
            <h3 class="c2">About Our<strong>Company</strong></h3>
            <div class="outter c2">
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="corporate-information.html">Corporate Information</a></li>
                <li class="c2"><a class="c2 footer-link" href="leadership.html">Leadership</a></li>
                <li class="c2"><a class="c2 footer-link" href="investor-relations.html">Investor Relations</a></li>
                <li class="c2"><a class="c2 footer-link" href="ethics-and-governance.html">Ethics & Corporate Governance</a></li>
                <li class="c2"><a class="c2 footer-link" href="corporate-citizenship.html">Corporate Citizenship</a></li>
                <li class="c2"><a class="c2 footer-link" href="media-inquiries.html">Media Inquiries</a></li>
                <li class="c2"><a class="c2 footer-link" href="wellness-programs.html">Corporate Wellness</a></li>
              </div>
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="partners.html">Partners</a></li>
                <li class="c2"><a class="c2 footer-link" href="culture-and-values.html">Culture & Values</a></li>
                <li class="c2"><a class="c2 footer-link" href="global-network.html">Global Network</a></li>
                <li class="c2"><a class="c2 footer-link" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                <li class="c2"><a class="c2 footer-link" href="articles.html">Articles & Publications</a></li>
                <li class="c2"><a class="c2 footer-link" href="contact-us.html">Contact Us</a></li>
              </div>
            </div>
          </ul>
        </div><a class="home c2" href="index.html"><img src="img/vivos-logo-footer.png"></a>
      </div>
      <div class="container">
        <div class="copyright c2"><span class="cr c2">© 2019 Vivos Therapeutics, Inc.  ALL RIGHTS RESERVED</span>
          <ul class="social-links">
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="sl"><a class="contact c2" href="#">Contact Us<span>866-908-4867</span></a></li>
          </ul>
        </div>
        <div class="privacy-policy">All content found on the vivoslife.com website, including text, images, audio, or other formats were created for informational purposes only. The content of this website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on this website. Individual results may vary. Nothing contained in this website infers or creates a warranty, promise, or guarantee of any kind with respect to the clinical outcome or result from treatment using the Vivos technology. The use of the Vivos technologies by any patient must always occur under the direction and supervision of a qualified, trained, and licensed dentist, physician or other qualified health provider, working in close collaboration with qualified medical personnel.</div>
      </div>
    </footer>
    <!-- scripts-->
    <!-- JS Files-->
    <script src="js/swiper.min.js"></script>
    <script src="js/main.js"></script>
    <script src="components/c13-modal/c13.js"></script>
    <!--script(src="components/c1-nav/c1.js")-->
    <script src=" components/c32-content-slider/c32.js"></script>
  </body>
</html>
