pages/healthcare-proffessionals.pug
- var PageTitle = "Healthcare Professionals"
- var template = "content"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Content Header
    section.c8.hero-slider
      .swiper-container.c8
        .swiper-wrapper.c8
          // Slide 1
          .swiper-slide.c8(style="background-image: url('img/medteam.jpg'); background-position: top")
            .overlay.c8(style="background: rgba(1,52,86,0.6)")
              .container.c8
                .slide-outter.c8
                  .slide-inner.c8
                    .v-icon
                      img(src="img/vivos-small-logo.png")
                    h1.c8 Developing Breathing Wellness
                      strong Healthcare Professionals
                    .small-border.c36(style="background: #e4be45")
                    p.c8 We are on a mission enable clinicians to rid the world of obstructive sleep apnea. We accomplish our mission by collaborating with physicians, dentists, specialized chiropractors and clinical research teams to develop the very best therapeutic protocols and treatment options for patients who suffer from mild-to-moderate sleep apnea and sleep disordered breathing.

                  .slide-img.c8
                    //img(src="img/singh-cortes.png")
                .angle.c8
                  img(src="img/white-angles.png")
    main
      .container
        h2 Professional
          strong Healthcare Providers
        .cards-outter.c14
          .card.c14(style="border-color: #acc37e;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide effective treatment planning for maxillary hypoplasia and mandibular retrusion, conditions which are often associated with obstructive sleep apnea.
            p.c14 The Vivos Integrated Practice program provides general dentists the clinical skills, advanced tools, essential resources and effective treatment protocols to significantly impact the lives of their patients.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="general-dentist.html") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 Specialty
              span.c14 Dentists
            p.c14 Specialty dentists can also play an important role in Breathing Wellness.
              ul.c14
                li.c14 Endodontics
                li.c14 Oral and Maxillofacial Surgery
                li.c14 Orthodontics
                li.c14 Dentofacial Orthopedics
                li.c14 Pediatric Dentistry
                li.c14 Periodontics
                li.c14 Prosthodontics
            p.c14 We invite you to learn more about the Integrated Practice opportunities for specialty dentists.
            
            //a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 Medical
              span.c14 Doctors
            p.c14 Medical doctors are keenly aware of the overall impact to health and wellness for patients who suffer from mild-to-moderate sleep and breathing disorders.
            p.c14 Vivos works with medical doctors around the world to help inform and educate patients about the serious risks associated with compromised nocturnal breathing and other breathing deficiencies.
            p.c14 We invite you to learn more about how Vivos can help you deliver the very best healthcare for your patients.
            //a.btn(href="#") Explore


          .card.c14(style="border-color: #acc37e;")
            h2.c14 Specialty
              span.c14 Chiropractors
            p.c14 In some cases of obstructive sleep apnea, the pharyngeal airway may be compromised by malalignment of the atlas-axis vertebrae, which may adversely affect the breathing/swallowing centers requiring specialized upper cervical chiropractic intervention.
            p.c14 Chiropractors who specialize in atlas orthogonal intervention plays important role in the treatment of such cases.
            p.c14 We invite you to learn more about opportunities to work with Vivos to provide the very best care for your patients.
            //a.btn(href="#") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 Oral Myofunctional
              span.c14 Therapists
            p.c14 Maxillary hypoplasia and mandibular retrusion can promote poor myofunctional behavior and habits.
            p.c14 Myofunctional therapeutic exercises have been shown to improve the clinical outcomes in some cases.
            p.c14 We invite you to learn more about opportunities to work with Vivos to and to become a part of our multidisciplinary team.
            //a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 Holistic Wellness
              span.c14 Clinicians
            p.c14 Holistic Wellness clinicians can also play an important role in Breathing Wellness.
              ul.c14
                li.c14 Osteopath
                li.c14 Nutritionist
                li.c14 Health + Fitness Trainers
                li.c14 Naturopath
                li.c14 Massage Therapist
                li.c14 Acupuncturist
                li.c14 Cranio Sacral Massage
                li.c14 Physical Therapist
                
            p.c14 We invite you to learn more about opportunities to become a part of the Breathing Wellness movement.
    
    
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug

healthcare-proffessionals.html
<!DOCTYPE html>
<html>
  <!-- Head-->
  <head>
    <!-- Page title-->
    <title>Healthcare Professionals</title>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" user-scalable="no">
    <link rel="icon" href="img/favicon.ico">
    <!-- Stylesheets-->
    <!-- Referenced Styles-->
    <link rel="stylesheet" href="components/c8-hero-slider/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--script(src="js/barba.min.js")-->
  </head>
  <body id="top">
    <nav class="c1">
      <div class="container c1">
        <ul class="c1">
          <li class="c1" id="logo"><a class="c1 logo" href="index.html"><img class="c1" src="img/logo.svg" alt="Vivos | Breathing Wellness Centers"></a></li>
          <div class="menu c1" id="menuIcon"><i class="fas fa-bars"></i></div>
          <div class="nav-links c1" id="navMobile">
            <li class="c1"><a class="nav-link c1" href="breathing-wellness.html">Breathing Wellness</a></li>
            <li class="c1"><a class="nav-link c1" href="healthcare-proffessionals.html">Healthcare Professionals</a></li>
            <li class="c1"><a class="nav-link c1" href="our-approach.html">Our Approach</a></li>
            <li class="c1"><a class="nav-link c1" href="the-science.html">The Science</a></li>
            <li class="c1"><a class="nav-link c1" href="company-template.html">Our Company</a></li>
            <li class="c1"><a class="nav-link c1" href="find-doctor.html">Find A Doctor</a></li>
          </div>
          <div class="nav-modal c1"><img class="modal-trigger c13" src="img/menu_icon.png" alt="Menu Icon">
            <div class="modal-outter c13">
              <div class="modal container c13">
                <nav class="sub-links c27">
                  <ul class="c27">
                    <h2 class="c27">Healthcare <span class="c27">Professionals</span></h2>
                    <li class="c27"><a class="link c27" href="general-dentist.html">General Dentist</a></li>
                    <li class="c27"><a class="link c27" href="specialty-dentist.html">Specialty Dentist</a></li>
                    <li class="c27"><a class="link c27" href="medical-doctor.html">Medical Doctor</a></li>
                    <li class="c27"><a class="link c27" href="specialty-chiropractor.html">Specialty Chiropractor</a></li>
                    <li class="c27"><a class="link c27" href="hospitals.html">Hospitals</a></li>
                    <li class="c27"><a class="link c27" href="wellness-clinics.html">Wellness Clinics</a></li>
                    <li class="c27"><a class="link c27" href="integrated-practice-program.html">Integrated Practice Program</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Doctors And Their<span class="c27">Patients</span></h2>
                    <li class="c27"><a class="link c27" href="breathing-wellness.html">Breathing Wellness</a></li>
                    <li class="c27"><a class="link c27" href="a-healthy-lifestyle.html">A Healthy Lifestyle</a></li>
                    <li class="c27"><a class="link c27" href="early-warning-signs.html">Early Warning Signs</a></li>
                    <li class="c27"><a class="link c27" href="new-hope.html">New Hope</a></li>
                    <li class="c27"><a class="link c27" href="find-a-doctor.html">Find A Doctor</a></li>
                    <li class="c27"><a class="link c27" href="resources.html">Resources</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Wellness<span class="c27">Advocates</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-wellness.html">Corporate Wellness</a></li>
                    <li class="c27"><a class="link c27" href="employee-screening.html">Employee Screening</a></li>
                    <li class="c27"><a class="link c27" href="benefits.html">Benefits</a></li>
                    <li class="c27"><a class="link c27" href="outcomes.html">Outcomes</a></li>
                    <li class="c27"><a class="link c27" href="corporate-events.html">Corporate Events</a></li>
                    <li class="c27"><a class="link c27" href="associations.html">Associations</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">About Our<span class="c27">Company</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-information.html">Corporate Information</a></li>
                    <li class="c27"><a class="link c27" href="leadership.html">Leadership</a></li>
                    <li class="c27"><a class="link c27" href="investor-relations.html">Investor Relations</a></li>
                    <li class="c27"><a class="link c27" href="ethics-and-corporate-governance.html">Ethics &amp; Corporate Governance</a></li>
                    <li class="c27"><a class="link c27" href="media-inqueries.html">Media Inqueries</a></li>
                    <li class="c27"><a class="link c27" href="partners.html">Partners</a></li>
                    <li class="c27"><a class="link c27" href="culture-and-values.html">Culture &amp; Values</a></li>
                    <li class="c27"><a class="link c27" href="global-network.html">Global-network</a></li>
                    <li class="c27"><a class="link c27" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                  </ul>
                </nav><img class="g-bottom c27" src="img/nav-angles.png">
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>
    <div class="fixed-top c43">
      <div class="container"><img src="img/page-head-left.png"></div>
    </div>
    <!-- Content Header-->
    <section class="c8 hero-slider">
      <div class="swiper-container c8">
        <div class="swiper-wrapper c8">
          <!-- Slide 1-->
          <div class="swiper-slide c8" style="background-image: url('img/medteam.jpg'); background-position: top">
            <div class="overlay c8" style="background: rgba(1,52,86,0.6)">
              <div class="container c8">
                <div class="slide-outter c8">
                  <div class="slide-inner c8">
                    <div class="v-icon"><img src="img/vivos-small-logo.png"></div>
                    <h1 class="c8">Developing Breathing Wellness<strong>Healthcare Professionals</strong></h1>
                    <div class="small-border c36" style="background: #e4be45"></div>
                    <p class="c8">We are on a mission enable clinicians to rid the world of obstructive sleep apnea. We accomplish our mission by collaborating with physicians, dentists, specialized chiropractors and clinical research teams to develop the very best therapeutic protocols and treatment options for patients who suffer from mild-to-moderate sleep apnea and sleep disordered breathing.</p>
                  </div>
                  <div class="slide-img c8">
                    <!--img(src="img/singh-cortes.png")-->
                  </div>
                </div>
                <div class="angle c8"><img src="img/white-angles.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <main>
      <div class="container">
        <h2>Professional<strong>Healthcare Providers</strong></h2>
        <div class="cards-outter c14">
          <div class="card c14" style="border-color: #acc37e;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide effective treatment planning for maxillary hypoplasia and mandibular retrusion, conditions which are often associated with obstructive sleep apnea.</p>
            <p class="c14">The Vivos Integrated Practice program provides general dentists the clinical skills, advanced tools, essential resources and effective treatment protocols to significantly impact the lives of their patients.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="general-dentist.html">Explore</a>
          </div>
          <div class="card c14" style="border-color: #90aaa2;">
            <h2 class="c14">Specialty<span class="c14">Dentists</span></h2>
            <p class="c14">Specialty dentists can also play an important role in Breathing Wellness.
              <ul class="c14">
                <li class="c14">Endodontics</li>
                <li class="c14">Oral and Maxillofacial Surgery</li>
                <li class="c14">Orthodontics</li>
                <li class="c14">Dentofacial Orthopedics</li>
                <li class="c14">Pediatric Dentistry</li>
                <li class="c14">Periodontics</li>
                <li class="c14">Prosthodontics</li>
              </ul>
            </p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for specialty dentists.</p>
            <!--a.btn(href="#") Explore-->
          </div>
          <div class="card c14" style="border-color: #e4be45;">
            <h2 class="c14">Medical<span class="c14">Doctors</span></h2>
            <p class="c14">Medical doctors are keenly aware of the overall impact to health and wellness for patients who suffer from mild-to-moderate sleep and breathing disorders.</p>
            <p class="c14">Vivos works with medical doctors around the world to help inform and educate patients about the serious risks associated with compromised nocturnal breathing and other breathing deficiencies.</p>
            <p class="c14">We invite you to learn more about how Vivos can help you deliver the very best healthcare for your patients.</p>
            <!--a.btn(href="#") Explore-->
          </div>
          <div class="card c14" style="border-color: #acc37e;">
            <h2 class="c14">Specialty<span class="c14">Chiropractors</span></h2>
            <p class="c14">In some cases of obstructive sleep apnea, the pharyngeal airway may be compromised by malalignment of the atlas-axis vertebrae, which may adversely affect the breathing/swallowing centers requiring specialized upper cervical chiropractic intervention.</p>
            <p class="c14">Chiropractors who specialize in atlas orthogonal intervention plays important role in the treatment of such cases.</p>
            <p class="c14">We invite you to learn more about opportunities to work with Vivos to provide the very best care for your patients.</p>
            <!--a.btn(href="#") Explore-->
          </div>
          <div class="card c14" style="border-color: #90aaa2;">
            <h2 class="c14">Oral Myofunctional<span class="c14">Therapists</span></h2>
            <p class="c14">Maxillary hypoplasia and mandibular retrusion can promote poor myofunctional behavior and habits.</p>
            <p class="c14">Myofunctional therapeutic exercises have been shown to improve the clinical outcomes in some cases.</p>
            <p class="c14">We invite you to learn more about opportunities to work with Vivos to and to become a part of our multidisciplinary team.</p>
            <!--a.btn(href="#") Explore-->
          </div>
          <div class="card c14" style="border-color: #e4be45;">
            <h2 class="c14">Holistic Wellness<span class="c14">Clinicians</span></h2>
            <p class="c14">Holistic Wellness clinicians can also play an important role in Breathing Wellness.
              <ul class="c14">
                <li class="c14">Osteopath</li>
                <li class="c14">Nutritionist</li>
                <li class="c14">Health + Fitness Trainers</li>
                <li class="c14">Naturopath</li>
                <li class="c14">Massage Therapist</li>
                <li class="c14">Acupuncturist</li>
                <li class="c14">Cranio Sacral Massage</li>
                <li class="c14">Physical Therapist</li>
              </ul>
            </p>
            <p class="c14">We invite you to learn more about opportunities to become a part of the Breathing Wellness movement.</p>
          </div>
        </div>
      </div>
    </main>
    <div class="call-to-action c2">
      <div class="container">
        <p class="desktop c2">If you suspect that you or someone you love is suffering from a breathing wellness condition, take this self-assessment:</p>
        <p class="mobile c2">Breathing Wellness Assessment</p><a class="btn green" href="#">Begin</a>
      </div>
    </div>
    <footer class="c2">
      <div class="container footer c2">
        <div class="footer-link-group c2">
          <ul class="c2">
            <h3 class="c2">Healthcare<strong>Professionals</strong></h3>
            <li class="c2"><a class="c2 footer-link" href="#">General Dentist</a></li>
            <li class="c2"><a class="c2 footer-link" href="#">Integrated Practice Program</a></li>
            <li class="c2"><a class="c2 footer-link" href="#" target="_blank">Provider Login</a></li>
          </ul>
          <ul class="c2">
            <h3 class="c2">About Our<strong>Company</strong></h3>
            <div class="outter c2">
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="corporate-information.html">Corporate Information</a></li>
                <li class="c2"><a class="c2 footer-link" href="leadership.html">Leadership</a></li>
                <li class="c2"><a class="c2 footer-link" href="investor-relations.html">Investor Relations</a></li>
                <li class="c2"><a class="c2 footer-link" href="ethics-and-governance.html">Ethics & Corporate Governance</a></li>
                <li class="c2"><a class="c2 footer-link" href="corporate-citizenship.html">Corporate Citizenship</a></li>
                <li class="c2"><a class="c2 footer-link" href="media-inquiries.html">Media Inquiries</a></li>
                <li class="c2"><a class="c2 footer-link" href="wellness-programs.html">Corporate Wellness</a></li>
              </div>
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="partners.html">Partners</a></li>
                <li class="c2"><a class="c2 footer-link" href="culture-and-values.html">Culture & Values</a></li>
                <li class="c2"><a class="c2 footer-link" href="global-network.html">Global Network</a></li>
                <li class="c2"><a class="c2 footer-link" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                <li class="c2"><a class="c2 footer-link" href="articles.html">Articles & Publications</a></li>
                <li class="c2"><a class="c2 footer-link" href="contact-us.html">Contact Us</a></li>
              </div>
            </div>
          </ul>
        </div><a class="home c2" href="index.html"><img src="img/vivos-logo-footer.png"></a>
      </div>
      <div class="container">
        <div class="copyright c2"><span class="cr c2">© 2019 Vivos Therapeutics, Inc.  ALL RIGHTS RESERVED</span>
          <ul class="social-links">
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="sl"><a class="contact c2" href="#">Contact Us<span>866-908-4867</span></a></li>
          </ul>
        </div>
        <div class="privacy-policy">All content found on the vivoslife.com website, including text, images, audio, or other formats were created for informational purposes only. The content of this website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on this website. Individual results may vary. Nothing contained in this website infers or creates a warranty, promise, or guarantee of any kind with respect to the clinical outcome or result from treatment using the Vivos technology. The use of the Vivos technologies by any patient must always occur under the direction and supervision of a qualified, trained, and licensed dentist, physician or other qualified health provider, working in close collaboration with qualified medical personnel.</div>
      </div>
    </footer>
    <!-- scripts-->
    <!-- JS Files-->
    <script src="js/swiper.min.js"></script>
    <script src="js/main.js"></script>
    <script src="components/c13-modal/c13.js"></script>
    <!--script(src="components/c1-nav/c1.js")-->
  </body>
</html>
