our-approach.html
<!DOCTYPE html>
<html>
  <!-- Head-->
  <head>
    <!-- Page title-->
    <title>Our Approach</title>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" user-scalable="no">
    <link rel="icon" href="img/favicon.ico">
    <!-- Stylesheets-->
    <!-- Referenced Styles-->
    <link rel="stylesheet" href="components/c8-hero-slider/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--script(src="js/barba.min.js")-->
  </head>
  <body id="top">
    <nav class="c1">
      <div class="container c1">
        <ul class="c1">
          <li class="c1" id="logo"><a class="c1 logo" href="index.html"><img class="c1" src="img/logo.svg" alt="Vivos | Breathing Wellness Centers"></a></li>
          <div class="menu c1" id="menuIcon"><i class="fas fa-bars"></i></div>
          <div class="nav-links c1" id="navMobile">
            <li class="c1"><a class="nav-link c1" href="breathing-wellness.html">Breathing Wellness</a></li>
            <li class="c1"><a class="nav-link c1" href="healthcare-proffessionals.html">Healthcare Professionals</a></li>
            <li class="c1"><a class="nav-link c1" href="our-approach.html">Our Approach</a></li>
            <li class="c1"><a class="nav-link c1" href="the-science.html">The Science</a></li>
            <li class="c1"><a class="nav-link c1" href="company-template.html">Our Company</a></li>
            <li class="c1"><a class="nav-link c1" href="find-doctor.html">Find A Doctor</a></li>
          </div>
          <div class="nav-modal c1"><img class="modal-trigger c13" src="img/menu_icon.png" alt="Menu Icon">
            <div class="modal-outter c13">
              <div class="modal container c13">
                <nav class="sub-links c27">
                  <ul class="c27">
                    <h2 class="c27">Healthcare <span class="c27">Professionals</span></h2>
                    <li class="c27"><a class="link c27" href="general-dentist.html">General Dentist</a></li>
                    <li class="c27"><a class="link c27" href="specialty-dentist.html">Specialty Dentist</a></li>
                    <li class="c27"><a class="link c27" href="medical-doctor.html">Medical Doctor</a></li>
                    <li class="c27"><a class="link c27" href="specialty-chiropractor.html">Specialty Chiropractor</a></li>
                    <li class="c27"><a class="link c27" href="hospitals.html">Hospitals</a></li>
                    <li class="c27"><a class="link c27" href="wellness-clinics.html">Wellness Clinics</a></li>
                    <li class="c27"><a class="link c27" href="integrated-practice-program.html">Integrated Practice Program</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Doctors And Their<span class="c27">Patients</span></h2>
                    <li class="c27"><a class="link c27" href="breathing-wellness.html">Breathing Wellness</a></li>
                    <li class="c27"><a class="link c27" href="a-healthy-lifestyle.html">A Healthy Lifestyle</a></li>
                    <li class="c27"><a class="link c27" href="early-warning-signs.html">Early Warning Signs</a></li>
                    <li class="c27"><a class="link c27" href="new-hope.html">New Hope</a></li>
                    <li class="c27"><a class="link c27" href="find-a-doctor.html">Find A Doctor</a></li>
                    <li class="c27"><a class="link c27" href="resources.html">Resources</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Wellness<span class="c27">Advocates</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-wellness.html">Corporate Wellness</a></li>
                    <li class="c27"><a class="link c27" href="employee-screening.html">Employee Screening</a></li>
                    <li class="c27"><a class="link c27" href="benefits.html">Benefits</a></li>
                    <li class="c27"><a class="link c27" href="outcomes.html">Outcomes</a></li>
                    <li class="c27"><a class="link c27" href="corporate-events.html">Corporate Events</a></li>
                    <li class="c27"><a class="link c27" href="associations.html">Associations</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">About Our<span class="c27">Company</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-information.html">Corporate Information</a></li>
                    <li class="c27"><a class="link c27" href="leadership.html">Leadership</a></li>
                    <li class="c27"><a class="link c27" href="investor-relations.html">Investor Relations</a></li>
                    <li class="c27"><a class="link c27" href="ethics-and-corporate-governance.html">Ethics &amp; Corporate Governance</a></li>
                    <li class="c27"><a class="link c27" href="media-inqueries.html">Media Inqueries</a></li>
                    <li class="c27"><a class="link c27" href="partners.html">Partners</a></li>
                    <li class="c27"><a class="link c27" href="culture-and-values.html">Culture &amp; Values</a></li>
                    <li class="c27"><a class="link c27" href="global-network.html">Global-network</a></li>
                    <li class="c27"><a class="link c27" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                  </ul>
                </nav><img class="g-bottom c27" src="img/nav-angles.png">
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>
    <div class="fixed-top c43">
      <div class="container"><img src="img/page-head-left.png"></div>
    </div>
    <!-- Content Header-->
    <section class="c8 hero-slider">
      <div class="swiper-container c8">
        <div class="swiper-wrapper c8">
          <!-- Slide 1-->
          <div class="swiper-slide c8" style="background-image: url('img/dentist-consult.jpg'); background-position: top">
            <div class="overlay c8" style="background: rgba(1,52,86,0.6)">
              <div class="container c8">
                <div class="slide-outter c8">
                  <div class="slide-inner c8">
                    <div class="v-icon"><img src="img/vivos-small-logo.png"></div>
                    <h1 class="c8">Doctors and<strong>Their Patients</strong></h1>
                    <div class="small-border c36" style="background: #e4be45"></div>
                    <p class="c8">As a leading provider of breathing wellness therapeutic protocols and technologies, Vivos Therapeutics enables an integrated, multidisciplinary  network of healthcare providers. We deliver sophisticated maxillary mandibular diagnostics, biomimetic oral appliance therapeutic protocols and intelligent practice and patient management systems, data analytics and professional services.</p>
                    <ul style="color: white">
                      <li>Treatment Planning & Delivery</li>
                      <li>Therapeutic Protocols</li>
                      <li>Patient Education</li>
                      <li>Technology & Software</li>
                      <li>Clinical Education</li>
                      <li>Practice Management</li>
                    </ul>
                  </div>
                  <div class="slide-img c8">
                    <!--img(src="img/singh-cortes.png")-->
                  </div>
                </div>
                <div class="angle c8"><img src="img/white-angles.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <main> 
      <div class="container">
        <div class="cards-outter c14">
          <div class="card c14" style="border-color: #acc37e;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
          <div class="card c14" style="border-color: #90aaa2;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
          <div class="card c14" style="border-color: #e4be45;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
          <div class="card c14" style="border-color: #acc37e;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
          <div class="card c14" style="border-color: #90aaa2;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
          <div class="card c14" style="border-color: #e4be45;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
        </div>
      </div>
    </main>
    <section style="background: #7eb6c3">
      <div class="container">
        <h2>Treatment<strong>Planning & Delivery</strong></h2>
        <div class="two-outter c5">
          <div class="column c5"><img src="img/pat-doc.jpg"></div>
          <div class="column c5">
            <h4>The Patient Experience</h4>
            <p style="color: #4f5051">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.</p>
          </div>
        </div>
        <!-- Breathing Wellness Team-->
        <div class="outter c28">
          <div class="column c28">
            <div class="well-team c30"><img src="img/f-doc-profile.jpg">
              <h5 class="c30">Medical Doctor</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/dentist-profile.jpg">
              <h5 class="c30">General Dentist</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/special-dentist-profile.jpg">
              <h5 class="c30">Specialty Dentist</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/chiro-profile.jpg">
              <h5 class="c30">Orthogonal Chiropractor</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/myo-profile.jpg">
              <h5 class="c30">Myofunctional Therapist</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/nutritionis-profile.jpg">
              <h5 class="c30">Nutritionist</h5>
            </div>
          </div>
        </div>
        <p style="text-align: center; color: #4f5051">We promote and work with clinicians to develop effective multidisciplinary protocols for the treatment of maxillary hypoplasia and mandibular retrusion - a leading cause of obstructive sleep apnea.</p>
      </div>
    </section>
    <section>
      <div class="container">
        <h2>Therapeutic<strong>Protocols</strong></h2>
        <div class="two-outter c5">
          <div class="column c5">
            <h4>Helping doctors help their patients.</h4>
            <p>We work with our network of doctors to develop and implement the very best practices and clinical protocols to help ensure the very best treatment outcomes.</p>
          </div>
          <div class="column c5"><img src="img/mature-doc-review.jpg"></div>
        </div>
      </div>
    </section>
    <section style="background: #acc281">
      <div class="container">
        <h2>Patient<strong>Education</strong></h2>
        <div class="two-outter c5">
          <div class="column c5"><img src="img/pat-ed.jpg"></div>
          <div class="column c5">
            <h4>Tools & Resources to Raise Awareness</h4>
            <p>We invest in the development of patient education tools and resources to help clinicians deliver the very best possible care for their patients.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="two-outter c5">
          <div class="column c5"><img src="img/aire-screen.jpg"></div>
          <div class="column c5">
            <h4>Every experience is unique.</h4>
            <p>VivosAire™ is a proprietary technology platform and software designed to help facilitate the treatment of breathing wellness conditions. Designed and engineered by top developers to meet the specific needs of clinicians working to follow proper treatment planning and protocols.</p>
            <div class="spacer c23 s10"></div><img src="img/aire.png">
          </div>
        </div>
        <!-- Breathing Wellness Team-->
        <div class="outter c28">
          <div class="column c28">
            <div class="well-team c30"><img src="img/f-doc-profile.jpg">
              <h5 class="c30">Medical Doctor</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/dentist-profile.jpg">
              <h5 class="c30">General Dentist</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/special-dentist-profile.jpg">
              <h5 class="c30">Specialty Dentist</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/chiro-profile.jpg">
              <h5 class="c30">Orthogonal Chiropractor</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/myo-profile.jpg">
              <h5 class="c30">Myofunctional Therapist</h5>
            </div>
          </div>
          <div class="column c28">
            <div class="well-team c30"><img src="img/nutritionis-profile.jpg">
              <h5 class="c30">Nutritionist</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="background: #465d6c">
      <div class="container">
        <h2 style="color: white">Patient<strong>Education</strong></h2>
        <div class="two-outter c5">
          <div class="column c5"><img src="img/pat-ed.jpg"></div>
          <div class="column c5">
            <h4 style="color: white">Every experience is unique.</h4>
            <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="split-ouuter c37">
          <div class="small c37">
            <h2>Operatory<strong>Technology Management</strong></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.</p>
          </div>
          <div class="large c37"><img class="float" src="img/digital-tech-sm.png"></div>
        </div><img src="img/process.png" style="text-align: center;">
      </div>
    </section>
    <div class="divider c24"></div>
    <section>
      <div class="container">
        <h2>Patient<strong>Management</strong>
          <div class="outter c32">
            <!-- Swiper-->
            <div class="swiper-container gallery-top c32">
              <div class="swiper-wrapper c32">
                <div class="swiper-slide main c32" id="">
                  <div class="video-block c32 modal-trigger c32" style="background-image:url('img/practice-management-coach.jpg'">
                    <!--img.play-icon.c32(src="img/play-off.png")-->
                  </div>
                  <div class="content-block c32">
                    <h4 class="c32">Every experience is unique.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.</p>
                  </div>
                </div>
                <div class="swiper-slide main c32" id="" style="background: orange"></div>
                <div class="swiper-slide main c32" id="" style="background: tan"></div>
                <div class="swiper-slide main c32" id="" style="background: aqua"></div>
                <div class="swiper-slide main c32" id="" style="background: pink"></div>
                <div class="swiper-slide main c32" id="" style="background: white"></div>
                <div class="swiper-slide main c32" id="" style="background: black"></div>
              </div>
            </div>
            <div class="swiper-container gallery-thumbs c32">
              <div class="swiper-button-prev swiper-button-white c32"><i class="fas fa-chevron-left"></i></div>
              <div class="swiper-wrapper c32">
                <div class="swiper-slide thumb c32" style="background: white"></div>
                <div class="swiper-slide thumb c32" style="background: orange"></div>
                <div class="swiper-slide thumb c32" style="background: tan"></div>
                <div class="swiper-slide thumb c32" style="background: aqua"></div>
                <div class="swiper-slide thumb c32" style="background: pink"></div>
                <div class="swiper-slide thumb c32" style="background: white"></div>
                <div class="swiper-slide thumb c32" style="background: black"></div>
              </div>
              <!-- Add Arrows-->
              <div class="swiper-button-next swiper-button-white c32"><i class="fas fa-chevron-right"></i></div>
            </div>
          </div>
        </h2>
      </div>
    </section>
    <div class="call-to-action c2">
      <div class="container">
        <p class="desktop c2">If you suspect that you or someone you love is suffering from a breathing wellness condition, take this self-assessment:</p>
        <p class="mobile c2">Breathing Wellness Assessment</p><a class="btn green" href="#">Begin</a>
      </div>
    </div>
    <footer class="c2">
      <div class="container footer c2">
        <div class="footer-link-group c2">
          <ul class="c2">
            <h3 class="c2">Healthcare<strong>Professionals</strong></h3>
            <li class="c2"><a class="c2 footer-link" href="#">General Dentist</a></li>
            <li class="c2"><a class="c2 footer-link" href="#">Integrated Practice Program</a></li>
            <li class="c2"><a class="c2 footer-link" href="#" target="_blank">Provider Login</a></li>
          </ul>
          <ul class="c2">
            <h3 class="c2">About Our<strong>Company</strong></h3>
            <div class="outter c2">
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="corporate-information.html">Corporate Information</a></li>
                <li class="c2"><a class="c2 footer-link" href="leadership.html">Leadership</a></li>
                <li class="c2"><a class="c2 footer-link" href="investor-relations.html">Investor Relations</a></li>
                <li class="c2"><a class="c2 footer-link" href="ethics-and-governance.html">Ethics & Corporate Governance</a></li>
                <li class="c2"><a class="c2 footer-link" href="corporate-citizenship.html">Corporate Citizenship</a></li>
                <li class="c2"><a class="c2 footer-link" href="media-inquiries.html">Media Inquiries</a></li>
                <li class="c2"><a class="c2 footer-link" href="wellness-programs.html">Corporate Wellness</a></li>
              </div>
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="partners.html">Partners</a></li>
                <li class="c2"><a class="c2 footer-link" href="culture-and-values.html">Culture & Values</a></li>
                <li class="c2"><a class="c2 footer-link" href="global-network.html">Global Network</a></li>
                <li class="c2"><a class="c2 footer-link" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                <li class="c2"><a class="c2 footer-link" href="articles.html">Articles & Publications</a></li>
                <li class="c2"><a class="c2 footer-link" href="contact-us.html">Contact Us</a></li>
              </div>
            </div>
          </ul>
        </div><a class="home c2" href="index.html"><img src="img/vivos-logo-footer.png"></a>
      </div>
      <div class="container">
        <div class="copyright c2"><span class="cr c2">© 2019 Vivos Therapeutics, Inc.  ALL RIGHTS RESERVED</span>
          <ul class="social-links">
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="sl"><a class="contact c2" href="#">Contact Us<span>866-908-4867</span></a></li>
          </ul>
        </div>
        <div class="privacy-policy">All content found on the vivoslife.com website, including text, images, audio, or other formats were created for informational purposes only. The content of this website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on this website. Individual results may vary. Nothing contained in this website infers or creates a warranty, promise, or guarantee of any kind with respect to the clinical outcome or result from treatment using the Vivos technology. The use of the Vivos technologies by any patient must always occur under the direction and supervision of a qualified, trained, and licensed dentist, physician or other qualified health provider, working in close collaboration with qualified medical personnel.</div>
      </div>
    </footer>
    <!-- scripts-->
    <!-- JS Files-->
    <script src="js/swiper.min.js"></script>
    <script src="js/main.js"></script>
    <script src="components/c13-modal/c13.js"></script>
    <!--script(src="components/c1-nav/c1.js")-->
    <script src=" components/c32-content-slider/c32.js"></script>
  </body>
</html>

pages/our-approach.pug
- var PageTitle = "Our Approach"
- var template = "content"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Content Header
    section.c8.hero-slider
      .swiper-container.c8
        .swiper-wrapper.c8
          // Slide 1
          .swiper-slide.c8(style="background-image: url('img/dentist-consult.jpg'); background-position: top")
            .overlay.c8(style="background: rgba(1,52,86,0.6)")
              .container.c8
                .slide-outter.c8
                  .slide-inner.c8
                    .v-icon
                      img(src="img/vivos-small-logo.png")
                    h1.c8 Doctors and
                      strong Their Patients
                    .small-border.c36(style="background: #e4be45")
                    p.c8 As a leading provider of breathing wellness therapeutic protocols and technologies, Vivos Therapeutics enables an integrated, multidisciplinary  network of healthcare providers. We deliver sophisticated maxillary mandibular diagnostics, biomimetic oral appliance therapeutic protocols and intelligent practice and patient management systems, data analytics and professional services.
                    
                    ul(style="color: white")
                      li Treatment Planning & Delivery
                      li Therapeutic Protocols
                      li Patient Education
                      li Technology & Software
                      li Clinical Education
                      li Practice Management

                  .slide-img.c8
                    //img(src="img/singh-cortes.png")
                .angle.c8
                  img(src="img/white-angles.png")
    main 
      .container
        .cards-outter.c14
          .card.c14(style="border-color: #acc37e;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
    
    
          .card.c14(style="border-color: #acc37e;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
    section(style="background: #7eb6c3")
      .container
        h2 Treatment
          strong Planning & Delivery
      
        .two-outter.c5
          .column.c5
            img(src="img/pat-doc.jpg")
          .column.c5
            h4 The Patient Experience
            p(style="color: #4f5051") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.
        include ../components/c30-wellness-items/c30.pug
        
        p(style="text-align: center; color: #4f5051") We promote and work with clinicians to develop effective multidisciplinary protocols for the treatment of maxillary hypoplasia and mandibular retrusion - a leading cause of obstructive sleep apnea.
    section()
      .container
        h2 Therapeutic
          strong Protocols
        
        .two-outter.c5
          .column.c5
            h4 Helping doctors help their patients.
            p We work with our network of doctors to develop and implement the very best practices and clinical protocols to help ensure the very best treatment outcomes.
          .column.c5
            img(src="img/mature-doc-review.jpg")
    section(style="background: #acc281")
      .container
        h2 Patient
          strong Education
        
        .two-outter.c5
          .column.c5
            img(src="img/pat-ed.jpg")
            
          .column.c5
            h4 Tools & Resources to Raise Awareness
            p We invest in the development of patient education tools and resources to help clinicians deliver the very best possible care for their patients.
    section
      .container
        .two-outter.c5
          .column.c5
            img(src="img/aire-screen.jpg")
            
          .column.c5
            h4 Every experience is unique.
            p VivosAire™ is a proprietary technology platform and software designed to help facilitate the treatment of breathing wellness conditions. Designed and engineered by top developers to meet the specific needs of clinicians working to follow proper treatment planning and protocols.
            .spacer.c23.s10
            img(src="img/aire.png")
          

        
        include ../components/c30-wellness-items/c30.pug
    section(style="background: #465d6c")
      .container
        h2(style="color: white") Patient
          strong Education
        .two-outter.c5
          .column.c5
            img(src="img/pat-ed.jpg")
            
          .column.c5
            h4(style="color: white") Every experience is unique.
            p(style="color: white") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.
    section()
      .container
        .split-ouuter.c37
          .small.c37
            h2 Operatory
              strong Technology Management
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.
          .large.c37
            img.float(src="img/digital-tech-sm.png")
        img(src="img/process.png" style="text-align: center;")
    .divider.c24
    section
      .container
        h2 Patient
          strong Management
          .outter.c32
            // Swiper
            .swiper-container.gallery-top.c32
              .swiper-wrapper.c32
                .swiper-slide.main.c32(id="")
                  .video-block.c32.modal-trigger.c32(style="background-image:url('img/practice-management-coach.jpg'")
                    //img.play-icon.c32(src="img/play-off.png")
                  
                  .content-block.c32
                    h4.c32 Every experience is unique.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.

                .swiper-slide.main.c32(id="" style="background: orange")
                .swiper-slide.main.c32(id="" style="background: tan")
                .swiper-slide.main.c32(id="" style="background: aqua")
                .swiper-slide.main.c32(id="" style="background: pink")
                .swiper-slide.main.c32(id="" style="background: white")
                .swiper-slide.main.c32(id="" style="background: black")

            .swiper-container.gallery-thumbs.c32
              .swiper-button-prev.swiper-button-white.c32
                i.fas.fa-chevron-left
              .swiper-wrapper.c32
                .swiper-slide.thumb.c32(style="background: white")
                .swiper-slide.thumb.c32(style="background: orange")
                .swiper-slide.thumb.c32(style="background: tan")
                .swiper-slide.thumb.c32(style="background: aqua")
                .swiper-slide.thumb.c32(style="background: pink")
                .swiper-slide.thumb.c32(style="background: white")
                .swiper-slide.thumb.c32(style="background: black")
              

                
              
              // Add Arrows
              .swiper-button-next.swiper-button-white.c32
                i.fas.fa-chevron-right
     
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
    script(src=" components/c32-content-slider/c32.js")
