pages/the-science.pug
- var PageTitle = "The Science"
- var template = "content"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Content Header
    section.c8.hero-slider
      .swiper-container.c8
        .swiper-wrapper.c8
          // Slide 1
          .swiper-slide.c8(style="background-image: url('img/brightdna.jpg'); background-position: center")
            .overlay.c8(style="background: rgba(1,52,86,0.8)")
              .container.c8
                .slide-outter.c8
                  .slide-inner.c8
                    .v-icon
                      img(src="img/vivos-small-logo.png")
                    h1.c8 The Science of
                      strong Epigenetics in Dentistry
                    .small-border.c36(style="background: #e4be45")
                    p.c8 The Human Genome Project was an international scientific research project with the goal of determining the sequence of nucleotide that make up human DNA. The project was declared complete of April 14, 2003. Four years after the completion of the project in 2007, the journal Science announced that epigenetics was the ‘breakthrough of the year’. In 2009, Time magazine considered it second of the top ten discoveries in 2009.
                    p.c8 The remarkable research and fascinating findings achieved in the early days of the Human Genome Project have impacted life science in immeasurable ways in the decades since its completion.
                    p.c8 At Vivos Therapeutics, our research teams embark on a relentless pursuit to explore the implications and possibilities of applied craniofacial epigenetics.
                  .slide-img.c8
                    img(src="img/cbct.png")
                .angle.c8
                  img(src="img/white-angles.png")
    section
        .container
          .cards-outter.c14
            .card.c14(style="border-color: #acc37e;")
              h2.c14 General
                span.c14 Dentists
              p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
              p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
              p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
              a.btn(href="#") Explore
            
            .card.c14(style="border-color: #90aaa2;")
              h2.c14 General
                span.c14 Dentists
              p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
              p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
              p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
              //a.btn(href="#") Explore
              
            
            .card.c14(style="border-color: #e4be45;")
              h2.c14 General
                span.c14 Dentists
              p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
              p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
              p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
              a.btn(href="#") Explore
          include ../components/c44-diagram/c44.pug
    .divider.c24
    section
      .container
        h2 Articles &
          strong Publications
        include ../components/c45-article-solo/c45.pug
      
      
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
    //script(src=" components/c32-content-slider/c32.js")

the-science.html
<!DOCTYPE html>
<html>
  <!-- Head-->
  <head>
    <!-- Page title-->
    <title>The Science</title>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" user-scalable="no">
    <link rel="icon" href="img/favicon.ico">
    <!-- Stylesheets-->
    <!-- Referenced Styles-->
    <link rel="stylesheet" href="components/c8-hero-slider/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--script(src="js/barba.min.js")-->
  </head>
  <body id="top">
    <nav class="c1">
      <div class="container c1">
        <ul class="c1">
          <li class="c1" id="logo"><a class="c1 logo" href="index.html"><img class="c1" src="img/logo.svg" alt="Vivos | Breathing Wellness Centers"></a></li>
          <div class="menu c1" id="menuIcon"><i class="fas fa-bars"></i></div>
          <div class="nav-links c1" id="navMobile">
            <li class="c1"><a class="nav-link c1" href="breathing-wellness.html">Breathing Wellness</a></li>
            <li class="c1"><a class="nav-link c1" href="healthcare-proffessionals.html">Healthcare Professionals</a></li>
            <li class="c1"><a class="nav-link c1" href="our-approach.html">Our Approach</a></li>
            <li class="c1"><a class="nav-link c1" href="the-science.html">The Science</a></li>
            <li class="c1"><a class="nav-link c1" href="company-template.html">Our Company</a></li>
            <li class="c1"><a class="nav-link c1" href="find-doctor.html">Find A Doctor</a></li>
          </div>
          <div class="nav-modal c1"><img class="modal-trigger c13" src="img/menu_icon.png" alt="Menu Icon">
            <div class="modal-outter c13">
              <div class="modal container c13">
                <nav class="sub-links c27">
                  <ul class="c27">
                    <h2 class="c27">Healthcare <span class="c27">Professionals</span></h2>
                    <li class="c27"><a class="link c27" href="general-dentist.html">General Dentist</a></li>
                    <li class="c27"><a class="link c27" href="specialty-dentist.html">Specialty Dentist</a></li>
                    <li class="c27"><a class="link c27" href="medical-doctor.html">Medical Doctor</a></li>
                    <li class="c27"><a class="link c27" href="specialty-chiropractor.html">Specialty Chiropractor</a></li>
                    <li class="c27"><a class="link c27" href="hospitals.html">Hospitals</a></li>
                    <li class="c27"><a class="link c27" href="wellness-clinics.html">Wellness Clinics</a></li>
                    <li class="c27"><a class="link c27" href="integrated-practice-program.html">Integrated Practice Program</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Doctors And Their<span class="c27">Patients</span></h2>
                    <li class="c27"><a class="link c27" href="breathing-wellness.html">Breathing Wellness</a></li>
                    <li class="c27"><a class="link c27" href="a-healthy-lifestyle.html">A Healthy Lifestyle</a></li>
                    <li class="c27"><a class="link c27" href="early-warning-signs.html">Early Warning Signs</a></li>
                    <li class="c27"><a class="link c27" href="new-hope.html">New Hope</a></li>
                    <li class="c27"><a class="link c27" href="find-a-doctor.html">Find A Doctor</a></li>
                    <li class="c27"><a class="link c27" href="resources.html">Resources</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">Wellness<span class="c27">Advocates</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-wellness.html">Corporate Wellness</a></li>
                    <li class="c27"><a class="link c27" href="employee-screening.html">Employee Screening</a></li>
                    <li class="c27"><a class="link c27" href="benefits.html">Benefits</a></li>
                    <li class="c27"><a class="link c27" href="outcomes.html">Outcomes</a></li>
                    <li class="c27"><a class="link c27" href="corporate-events.html">Corporate Events</a></li>
                    <li class="c27"><a class="link c27" href="associations.html">Associations</a></li>
                  </ul>
                  <ul class="c27">
                    <h2 class="c27">About Our<span class="c27">Company</span></h2>
                    <li class="c27"><a class="link c27" href="corporate-information.html">Corporate Information</a></li>
                    <li class="c27"><a class="link c27" href="leadership.html">Leadership</a></li>
                    <li class="c27"><a class="link c27" href="investor-relations.html">Investor Relations</a></li>
                    <li class="c27"><a class="link c27" href="ethics-and-corporate-governance.html">Ethics &amp; Corporate Governance</a></li>
                    <li class="c27"><a class="link c27" href="media-inqueries.html">Media Inqueries</a></li>
                    <li class="c27"><a class="link c27" href="partners.html">Partners</a></li>
                    <li class="c27"><a class="link c27" href="culture-and-values.html">Culture &amp; Values</a></li>
                    <li class="c27"><a class="link c27" href="global-network.html">Global-network</a></li>
                    <li class="c27"><a class="link c27" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                  </ul>
                </nav><img class="g-bottom c27" src="img/nav-angles.png">
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>
    <div class="fixed-top c43">
      <div class="container"><img src="img/page-head-left.png"></div>
    </div>
    <!-- Content Header-->
    <section class="c8 hero-slider">
      <div class="swiper-container c8">
        <div class="swiper-wrapper c8">
          <!-- Slide 1-->
          <div class="swiper-slide c8" style="background-image: url('img/brightdna.jpg'); background-position: center">
            <div class="overlay c8" style="background: rgba(1,52,86,0.8)">
              <div class="container c8">
                <div class="slide-outter c8">
                  <div class="slide-inner c8">
                    <div class="v-icon"><img src="img/vivos-small-logo.png"></div>
                    <h1 class="c8">The Science of<strong>Epigenetics in Dentistry</strong></h1>
                    <div class="small-border c36" style="background: #e4be45"></div>
                    <p class="c8">The Human Genome Project was an international scientific research project with the goal of determining the sequence of nucleotide that make up human DNA. The project was declared complete of April 14, 2003. Four years after the completion of the project in 2007, the journal Science announced that epigenetics was the ‘breakthrough of the year’. In 2009, Time magazine considered it second of the top ten discoveries in 2009.</p>
                    <p class="c8">The remarkable research and fascinating findings achieved in the early days of the Human Genome Project have impacted life science in immeasurable ways in the decades since its completion.</p>
                    <p class="c8">At Vivos Therapeutics, our research teams embark on a relentless pursuit to explore the implications and possibilities of applied craniofacial epigenetics.</p>
                  </div>
                  <div class="slide-img c8"><img src="img/cbct.png"></div>
                </div>
                <div class="angle c8"><img src="img/white-angles.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="cards-outter c14">
          <div class="card c14" style="border-color: #acc37e;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
          <div class="card c14" style="border-color: #90aaa2;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p>
            <!--a.btn(href="#") Explore-->
          </div>
          <div class="card c14" style="border-color: #e4be45;">
            <h2 class="c14">General<span class="c14">Dentists</span></h2>
            <p class="c14">General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.</p>
            <p class="c14">The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.</p>
            <p class="c14">We invite you to learn more about the Integrated Practice opportunities for general dentists.</p><a class="btn" href="#">Explore</a>
          </div>
        </div>
        <div class="c44 outter">
          <div class="left c44">
            <div class="group c44">
              <h2>Professional<strong>Healthcare Providers</strong></h2>
              <p class="c44">Millions of people of all ages suffer from a condition described in the medical literature as maxillary hypoplasia and mandibular retrusion.</p>
              <p class="c44">This all too common condition, where the upper and lower jaws do not fully develop often results in an obstructed or compromised pharyngeal airway.</p>
              <p class="c44">Individuals who suffer from this condition may develop obstructive sleep apnea or sleep disordered breathing, causing them to periodically stop breathing during sleep.</p>
              <p class="c44">Vivos is investing in ongoing clinical research and clinical trials to expand it's existing portfolio of therapeutic-grade biomimetic oral appliances for the treatment of maxillary hypoplasia and mandibular retrusion.</p>
            </div>
            <div class="group c44">
              <h2>Vivos Biomimetic<strong>Oral Appliance Therapy</strong></h2>
              <p class="c44">Vivos Biomimetic oral appliance therapy is specifically designed to treat maxillary hypoplasia and mandibular retrusion. Vivos Therapeutics is registered with the Federal Drug Administration as a Specification Developer and to date has three medical devices registered:</p>
              <ul class="c44">
                <li class="c44">Vivos mRNA® Appliance<span class="class c44">Class II</span></li>
                <li class="c44">Vivos DNA® Appliance*<span class="class c44">Class I</span></li>
                <li class="c44">Vivos Guides<span class="class c44">Class I</span></li><span class="helper c44">*Class II Application Pending  </span>
              </ul><img class="large c44" src="img/oral-appliance.png">
            </div>
            <div class="group c44">
              <h2>Vivos Therapeutics<strong>Pneumopedics®</strong></h2>
              <p class="c44">Vivos Biomimetic oral appliance therapy is specifically designed to treat maxillary hypoplasia and mandibular retrusion. Vivos Therapeutics is registered with the Federal Drug Administration as a Specification Developer and to date has three medical devices registered:</p><img class="c44" src="img/pre-airway.png">
              <h5 class="c44" style="text-align: center">Three-Dimensional Model of The Airway (Pretreatment)</h5><img class="c44" src="img/post-airway.png">
              <h5 class="c44" style="text-align: center">Three-Dimensional Model of The Airway (Post Treatment)    </h5>
            </div>
          </div>
          <div class="divider c44"></div>
          <div class="right c44">
            <div class="group c44"><img class="c44" src="img/crooked.png">
              <h2 class="c44" style="text-align: center">Maxillary Hypoplasia & Mandibular Retrusion</h2>
              <p class="c44">Maxillary hypoplasia and mandibular retrusion is a condition where the upper and lower jaws are underdeveloped and may result in an obstructed airway.</p>
              <p class="c44">Some of the warning signs may, but do not necessarily include:</p>
              <ul class="c44">
                <li class="c44">Crooked Teeth</li>
                <li class="c44">Mouth Breathing</li>
                <li class="c44">Nasal Obstruction</li>
                <li class="c44">Improper Tongue Alignment</li>
                <li class="c44">Narrow Dental Arches</li>
                <li class="c44">Obstructive Soft Palette Tissue</li>
              </ul>
            </div>
            <div class="group c44"><span class="quote c44">"In 98% of patients with OSAS, the condition is due to abnormal anatomical features of the soft tissues and/or the structures of the maxillomandibular skeleton that cause a disproportionate anatomy of the airway.*"<span class="helper c44">ARCH OTOLARYNGOL HEAD NECK SURG/VOL 137 (NO. 10), OCT 2011</span></span></div>
            <div class="group c44">
              <h2 class="c44" style="text-align: center">Correcting Maxillary Hypoplasia & Mandibular Retrusion</h2><img class="c44" src="img/crooked.png">
              <p class="c44">The clinical goal of treating maxillary hypoplasia and mandibular retrusion is correcting the maxillomandibular skeletal and tissue structures to eliminate or reduce the obstruction of the airway.</p>
              <h5 class="c44">Some of the treatment outcomes may include:</h5>
              <ul class="c44">
                <li class="c44">Straight Teeth</li>
                <li class="c44">Reduce or Eliminate Mouth Breathing</li>
                <li class="c44">Reduce or Eliminate Nasal Obstruction</li>
                <li class="c44">Allow for Proper Tongue Position</li>
                <li class="c44">Reduce or Eliminate Obstructive Soft Palette Tissue</li>
                <li class="c44">Enhance Airway Volume and Function</li>
                <li class="c44">Reduce Pharyngeal Nocturnal Airway Collapse</li>
              </ul>
              <p class="c44">The Vivos Therapeutic approach is an safe, non-invasive approach to treating maxillary hypoplasia and mandibular retrusion.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="divider c24"></div>
    <section>
      <div class="container">
        <h2>Articles &<strong>Publications</strong></h2>
        <div class="outter c45">
          <div class="access c45"><img class="c45" src="img/article-thum-1.png"><a class="btn" href="#">Download</a><span class="cat c45">Journal of Sleep Disorders & Therapy</span></div>
          <div class="info c45">
            <h2 class="title c45">A Novel Combined Protocol for the Resolution of Severe Obstructive Sleep Apnea</h2>
            <h6 class="c45">Abstract</h6>
            <p class="c45">A 27-year-old woman was referred to our office for a dental assessment regarding temporomandibular joint pain. On initial screening, she was found to be at high risk for obstructive sleep apnea, and subsequently underwent polysomnography, which revealed an apnea-hypopnea index of 118 hr-1. Her condition was initially controlled with continuous positive airway pressure therapy, which she did not tolerate well.</p>
            <p class="c45">Therefore, treatment proceeded with biomimetic oral appliance therapy. After 10 months of combined continuous positive airway pressure therapy and biomimetic oral appliance therapy, the apnea-hypopnea index fell to 1 hr-1 and obstructive sleep apnea could not be observed with or without the appliances in situ. We conclude that combined continuous positive airway pressure therapy and biomimetic oral appliance therapy might represent a potential cure of severe cases obstructive sleep apnea in certain patients.</p>
          </div>
          <div class="more c45"><span class="c45 explore">Explore scientific articles and publications</span><a class="btn" href="#">Explore</a></div>
        </div>
      </div>
    </section>
    <div class="call-to-action c2">
      <div class="container">
        <p class="desktop c2">If you suspect that you or someone you love is suffering from a breathing wellness condition, take this self-assessment:</p>
        <p class="mobile c2">Breathing Wellness Assessment</p><a class="btn green" href="#">Begin</a>
      </div>
    </div>
    <footer class="c2">
      <div class="container footer c2">
        <div class="footer-link-group c2">
          <ul class="c2">
            <h3 class="c2">Healthcare<strong>Professionals</strong></h3>
            <li class="c2"><a class="c2 footer-link" href="#">General Dentist</a></li>
            <li class="c2"><a class="c2 footer-link" href="#">Integrated Practice Program</a></li>
            <li class="c2"><a class="c2 footer-link" href="#" target="_blank">Provider Login</a></li>
          </ul>
          <ul class="c2">
            <h3 class="c2">About Our<strong>Company</strong></h3>
            <div class="outter c2">
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="corporate-information.html">Corporate Information</a></li>
                <li class="c2"><a class="c2 footer-link" href="leadership.html">Leadership</a></li>
                <li class="c2"><a class="c2 footer-link" href="investor-relations.html">Investor Relations</a></li>
                <li class="c2"><a class="c2 footer-link" href="ethics-and-governance.html">Ethics & Corporate Governance</a></li>
                <li class="c2"><a class="c2 footer-link" href="corporate-citizenship.html">Corporate Citizenship</a></li>
                <li class="c2"><a class="c2 footer-link" href="media-inquiries.html">Media Inquiries</a></li>
                <li class="c2"><a class="c2 footer-link" href="wellness-programs.html">Corporate Wellness</a></li>
              </div>
              <div class="inner c2">
                <li class="c2"><a class="c2 footer-link" href="partners.html">Partners</a></li>
                <li class="c2"><a class="c2 footer-link" href="culture-and-values.html">Culture & Values</a></li>
                <li class="c2"><a class="c2 footer-link" href="global-network.html">Global Network</a></li>
                <li class="c2"><a class="c2 footer-link" href="breathing-wellness-institute.html">Breathing Wellness Institute</a></li>
                <li class="c2"><a class="c2 footer-link" href="articles.html">Articles & Publications</a></li>
                <li class="c2"><a class="c2 footer-link" href="contact-us.html">Contact Us</a></li>
              </div>
            </div>
          </ul>
        </div><a class="home c2" href="index.html"><img src="img/vivos-logo-footer.png"></a>
      </div>
      <div class="container">
        <div class="copyright c2"><span class="cr c2">© 2019 Vivos Therapeutics, Inc.  ALL RIGHTS RESERVED</span>
          <ul class="social-links">
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="sl"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="sl"><a class="contact c2" href="#">Contact Us<span>866-908-4867</span></a></li>
          </ul>
        </div>
        <div class="privacy-policy">All content found on the vivoslife.com website, including text, images, audio, or other formats were created for informational purposes only. The content of this website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on this website. Individual results may vary. Nothing contained in this website infers or creates a warranty, promise, or guarantee of any kind with respect to the clinical outcome or result from treatment using the Vivos technology. The use of the Vivos technologies by any patient must always occur under the direction and supervision of a qualified, trained, and licensed dentist, physician or other qualified health provider, working in close collaboration with qualified medical personnel.</div>
      </div>
    </footer>
    <!-- scripts-->
    <!-- JS Files-->
    <script src="js/swiper.min.js"></script>
    <script src="js/main.js"></script>
    <script src="components/c13-modal/c13.js"></script>
    <!--script(src="components/c1-nav/c1.js")-->
    <!--script(src=" components/c32-content-slider/c32.js")-->
  </body>
</html>
